

/*alignment */

.text-align-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vertical-center-flex {
    display: flex;
    align-items: center;
}

.mr-bl-2 {
    margin-bottom: 2rem;
}

.mr-bl-3 {
    margin-bottom: 3rem;
}

.mr-tp-2 {
    margin-top: 2rem;
}

.mr-tp-3 {
    margin-top: 3rem;
}

.width-80 {
    width: 80vw;
}

.margin-auto {
    margin: auto;
}

.img-size-50 {
    width:50%;
}

.padding-5 {
    padding: 5rem;
}


/*colours */

.yellow-text {
    color: #FFDD00!important;
}

.blue-text {
    color: #1988FF!important;
}

.black-text {
    color: #333333!important;
}

.white-text {
    color: #fff!important;
}

.hover-color {
    color:#b79e00; 
}

.yellow-bg {
    background-color: #FFDD00!important;
}

.blue-bg {
    background-color: #1988FF!important;
}

.black-bg {
    background-color: #333333!important;
}

.white-bg {
    background-color: #fff!important;
}

.grey-bg {
    background-color: #EBEBEB!important;
}


/*font */

.fnt-wt-900 {
    font-weight: 900;
}


/*elements */

.footer2-blue {
    background-color: #1988FF;
    color: #fff;
}
.footer2-blue .widget h4 {
    color:#fff;
  }
.footer2-blue .a-text, .footer2-black .a-text-cont a {
  color: #fff; 
}
.footer2-blue .a-text:hover, .footer2-black .a-text-cont a:hover {
  color: #fff;
}
.footer2-blue .footer-2-copy-cont {
  padding-top: 30px;
  border-top: 1px solid #FFDD00;
}
.footer2-blue .footer-2-soc-a a {
  color: #fff;  
}
.footer2-blue .footer-2-soc-a a:hover, .footer2-black .footer-2-copy:hover {
  color: #fff; 
}

.footer2-blue .a-text-cont a {
    color: #fff; 
}
.footer2-blue .a-text-cont a:hover {
    color: #FFDD00; 
}

#main-heading {
    font-family: 'DM Serif Display', serif;
    text-shadow: 2px 2px 7px #333333;
    font-size: 120px;
    margin-bottom: 30px;
}

#section-title {
    margin: 0;
    padding: 22px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
}

#main-under-heading {
    font-size: 2rem;
}

#main-over-heading {
    font-size: 2.8rem;
    line-height: 2.8rem;
}

#about-section .fes7-box {
    padding-left: 0!important;
}

#sponsorship {
    background-color: #1988FF;
}

#sponsorship h2, #sponsorship p, #sponsorship h4, #sponsorship span, #sponsorship li { 
    color: #fff;
}

.equal-height-txt {
    height: fit-content!important;
}

#about-title {
    text-align: start!important;
}

/* countdown */

#countdown h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#countdown ul {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}
  
#countdown li {
  /*display: inline-block;*/
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
}

#countdown li span {
  display: block;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  color: #1988FF;
}

#countdown .emoji {
  display: none;
  padding: 1rem;
}

#countdown .emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media only screen and (max-width: 768px) {
    #countdown h1 {
        font-size: 2rem;
  }
  
  #countdown li {
    font-size: 1.5rem;
    padding: 0.5em;
  }
  
  #countdown li span {
    font-size: 2rem;
  }

  #countdown ul {
    padding: 0;
  }


}

@media only screen and (max-width: 992px) {
    #main-heading {
        font-size: 80px;
    }
}

@media (max-width: 599px){
    #main-heading {
        font-size: 60px;
    }
}

